body {
  font-family: Arial;

}

header {
  text-align: center;
  margin: 2em auto 1.5em
}
#buttons {
  text-align: center;

}
th,
td {
  text-align: center;
}

td:last-child {
  text-align: right;
  position: relative;
  right: 3em;

}
