body {
  font-family: Arial;
}

header {
  text-align: center;
  margin: 2em auto 1.5em
}

#buttons {
  text-align: center;
}

th,
td {
  text-align: center;
}

td:last-child {
  text-align: right;
  position: relative;
  right: 3em;
}

#frequency__hours,
#maiden-voyage-date__label {
  margin-left: 1em;
}

#frequency__minutes__label,
#maiden-voyage-time {
  margin-right: 1em;
}

.form-text {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}
